<h1>crea una nueva tarea</h1>

<%= form_with model: @task do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.label :description %>
  <%= form.text_field :description %>
  <%= form.check_box :completed %>
  <%= form.label :completed %>

  <%= form.submit %>
<% end %>
